# Advanced Querying Mongo

Importing libraries and setting up connection

In [23]:
from pymongo import MongoClient
import pandas as pd

In [45]:
cursor=MongoClient('mongodb://localhost:27017')

db=cursor.companies

companies = db.coleccion

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [48]:
# Your Code

query={'name': 'Babelgum'}

select = {'_id' : 0, 'name': 1}

list(companies.find(query, select))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [59]:
# Your Code:

query={'number_of_employees':{'$gt':5000}}

select={'_id':0,'name':1}
       
list(companies.find(query,select).sort('number_of_employees',-1).limit(20))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Comcast'},
 {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [67]:
# Your Code:
query={'founded_year':{'$gt':1999,
                       '$lte':2006}}
select={'_id':0,'name':1,'founded_year':1}

list(companies.find(query,select).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [73]:
# Your Code:
query={'valuation_amount': {'$gt': 100000000}, 
       'founded_year': {'$lt': 2010}}

select={'_id':0,'name':1,'ipo':1}

list(companies.find(query,select).limit(5))

[]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [29]:
# Your Code

### 6. All the companies that don't include the `partners` field.

In [30]:
# Your Code

### 7. All the companies that have a null type of value on the `category_code` field.

In [31]:
# Your Code

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [32]:
# Your Code

### 9. Order all the companies by their IPO price in a descending order.

In [33]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [34]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [35]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [36]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [37]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [38]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [39]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [40]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [41]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [42]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [43]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [44]:
# Your Code